body {
    background-image: url('/static/image/img7.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    background-color:bisque;
    border-radius: 12px;
    padding: 5px;
    margin-bottom: 40px;
}

nav a:link, nav a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    margin-left: 15px;
    font-family: Roboto Slab, sans-serif;
}

nav a:hover, nav a:active {
    background-color: gray;
    text-decoration: none;
    border-radius: 10px;
    animation-duration: 5s;
    transition: 0.3s;

    animation-iteration-count: infinite;
}




.book {
   
    margin: 20px;
    margin-top: 50px;
    padding: 28px;
    background-color: rgba(128, 128, 128,0.8);
    border: 2px solid rgba(157, 117, 64, 0.525);
    border-radius: 5px;
    font-family: Oswald;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
    width: 180px;
    text-align: center;
    gap: 2px;
}
.book-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    gap: .25rem;
    margin-top: 1rem;
    margin: 15px 5px 15px 5px;
    padding: 28px;
}

.book:hover {

    animation-name: grow;
    animation-duration: 1.2s;

}

.cover {
    width: 100px; 
    height: 160px; 
}


#list{
    background-color: grey;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    margin-top: 100px;
    font-family: Oswald;
    font-size: 35px;

}

input{
    width: 20%;
   
    height: 40px; 
    border-radius: 20px;
    font-size: 18px;


}